/* global - mobile*/
body{
    font-family: system-ui, sans-serif;
    font-weight: normal;
    text-align: center;
    justify-content:center;
    text-decoration: none;
    display:grid;
    place-items:center;
    grid-template-rows:
    150px
    auto
    auto
    50px
    ;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
    margin:0;
    background-image:linear-gradient(to right,	#354656,#1d2e3d);
}
@font-face {
    font-family: system-ui;
    src: url(system-ui.woff);
  }
h1{
    font-size:2.5rem;;
}
a:link{
    color:black;
}
a:visited {
    color: hotpink;
  }
a:hover{
    color:red;
    text-decoration:underline;
}
a:focus {
    outline: none; 
    border-bottom: 1Ch solid blue; 
}
nav{
    grid-area: nav;
}
footer{
    grid-area:footer;
    background:#1d2e3d;
    width:97vw;
    height:100%;
}
button{
    border-radius:10px;
}
section{
    border-radius:5Ex;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
td,th{
    padding:5px;
}
li{
    padding-bottom:2vh;
}
#closedMenu{
    z-index:2;
    display:flex;
    width:95vw;
    height:auto;
    padding:15px;
}
#closedMenu ul{
    display:none;
}
#closedMenu ul> li{
    display: inline-block;
}
#closedMenu  img{
    max-width:5em;
    max-height:5em
}
#closedMenu button{
    margin-left:auto;
    height:7em;
}
#closedMenu:first-child{   
    padding-left:3vw;
}
#fullScreenMenu{
    z-index:1;
    padding-top:5vh;
    width: 0;
    height:100vh;
    overflow:hidden;
    position:fixed;
    background:#64b5f6;
    top:15vh;
}
#fullScreenMenu >ul{
    list-style-type:none;
    padding:0;
}
body #fullScreenMenu > ul  li {
    margin: 10px 0;
}
body #fullScreenMenu > ul  li a{
    font-size:22px;
}
header>h2{
    grid-area: header;
}
header{
    padding-bottom:5vh;
}
/*Nästa låt form*/
#hittaDinNastaLatForm{
    width:0;
    z-index:1;
    background:white;
    height:97vh;
    overflow:hidden;
    position:absolute;
    top:3vh;
    left:50vw;
    transform: translate(-50%,0);
}
/*Nästa låt form*/
/*index*/
#index{
    grid-area: main;
    display:grid;
    grid-template-rows:
    30vh
    auto
    auto
    auto;
    grid-template-columns: 1fr;
    grid-gap: 2em 0;
    grid-template-areas: 
    "aktuellt "
    "hitta "
    "allaLatar "
    "spelrum"
    "lektioner ";
    place-items: center;
}
#index .aktuellt{
    grid-area: aktuellt;
    height:100%;
}
#index a>#aktuellt1{
    height:100%;
}
#index> .hittaDinNastaLat{
    grid-area: hitta;
    padding:1em 0.5em 1em 0.5em;
    border-radius: 10px;
    background:hsl(180, 79%, 24%);
}
#index> a img{
max-height:20ch;
max-width:30ch
}
#index> .allaLatar{
    grid-area: allaLatar;
    padding:1em 0.5em 1em 0.5em;
    border-radius: 10px;
    background:hsl(180, 79%, 24%);
}
#index> .spelrum{
    grid-area: spelrum;
    padding:1em 0.5em 1em 0.5em;
    border-radius: 10px;
    background:hsl(180, 79%, 24%);
}
#index> .lektioner{
    grid-area: lektioner;
    padding:1em 0.5em 1em 0.5em;
    border: 1px salmon solid;
    border-radius: 10px;
}
#index .lektioner button{
    background:#ffe0c8;
}
#index >.aktuellt >a> div{
    background-color: red;
    width:17em;
    height:100%;
    background-image:url('../IMG/getLuckyImg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius:5%;
}
#index >.aktuellt >a> #aktuellt1> h2{
    background:#4a9d9c;
}
#index  #flexContainer{
    background: hsl(180, 79%, 24%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:100%;
}
#index  #flexContainer > button{
    width:25%;
    width:15em;
    height:7em;
    padding:0;
    margin: 0 auto 0 auto;
}
#index > .lektioner{
    width:70%;
    background:hsl(180, 79%, 24%);
}
#index > .lektioner >h2{
    padding-right:100%;
    padding-bottom:5%;
}

/*index*/
/*Lektioner.html*/

#lektioner ul{
    padding:0;
}
#lektioner ul li{
    overflow:hidden;
    padding: 15px;
    padding-top: 0;
    max-width:50vw;
    height:10vh;
}
#lektioner .flexContainerLektioner{
    display: flex;
    justify-content: center;
}
#lektioner > section  > img{
    max-height:35vh;
    max-width:55vw;
}
#lektioner > section noscript img{
    max-height:35vh;
    max-width:55vw;
}
#lektioner >ul> li> button{
    width:100%;
    height:100%;      
}
#lektioner >ul> li> button >img{
    display:none;
}
#lektioner  >ul>li>#gitarrLektioner{
    background:#FF3D3D;
}
#lektioner>ul>li button{
    background:hsl(180, 79%, 24%);
}

/*Lektioner.html*/
/*Hittadin nästa låt*/

#hittaDinNastaLat section{
    padding:30px;
    padding-bottom:4rem;
    margin-top:40px;
    background:grey;
    height:35vh;    
}
#hittaDinNastaLat ol{
    padding:0;
}
#hittaDinNastaLat label{
    padding:10% 30% 10% 30%;
}
#hittaDinNastaLat #test{
    position:absolute;
    width:90vw;
    height:auto;
    background:white;
    z-index:1;
    left:0;
    overflow:hidden;
    min-width:0;
    left:50%;
    transform:translate(-50%,0)
}
#hittaDinNastaLat ol li{
    overflow:hidden;
    background:grey;
    padding-bottom:4rem;
    padding-top:4rem;
    margin-bottom:3rem;
    border-radius:5px;
}
#hittaDinNastaLat fieldset{
    border-radius:5px;
}
#hittaDinNastaLat section img{
    max-width:12em;
    max-height:12em;
}
#hittaDinNastaLat section h2{
    margin-top:0;
}
#hittaDinNastaLat #submitButton{
    padding:1em;
}
#hittaDinNastaLat #songContainer section{
    border-radius:5px;
}
#hittaDinNastaLat #songContainer,#songContainer2,#songContainer3,#nivåTable{
    display:none;
}
#hittaDinNastaLat >.wideClass{
    display:none;
}
#hittaDinNastaLat table{
    margin:0 auto 0 auto;
}

/*Hittadin nästa låt*/
/*allalåtar.html*/

#allaLatar section ol li a{
    display:grid;
    grid-template-columns: 20% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img title"
    "img artist";
    align-items: center;
    justify-content: space-evenly;
}
#allaLatar section ol li{
    border:1px solid black;
    background: #4a9d9c;
}
#allaLatar section ol li img{
    grid-area: img;
    max-width:100%;
    max-height:100%;   
}
#allaLatar section ol li h3{
    grid-area: title;
    margin:0;
}
#allaLatar section ol li p{
    grid-area: artist;
    margin:0;
}

/*ALLA LÅTAR*/
/*Latsida.html*/

#latSida button img{
    max-width:5em;
    max-height:5em;
    pointer-events: none;
}
#latSida #ackord{
    max-width:97vw;
}
#latSida #info{
    background:grey;
    padding-bottom:3em;
}

/*Latsida*/
/*Spelrum*/

#spelrum section button{
    background:rgb(175, 255, 255);;
}
#spelrum section:first-of-type{
    border:2px solid black;
    overflow:hidden;
    margin:0 auto 0 auto;
}
#spelrum section:nth-of-type(2){
    border:2px solid black;
    margin-top:10vh;
    width:40vw;
    margin:10vh auto 0 auto;
}
#spelrum>section:first-of-type > div{
    background:hsl(180, 79%, 24%);
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:center;
    width:50vw;
    margin-left:auto;
    margin-right:auto;
}
#spelrum>section:first-of-type>img{
    max-width:60vw;
}
#spelrum>section:first-of-type>div img{
    max-width:10vw;
    max-height:10vw;
}
#spelrum>section:nth-of-type(2) img{
    max-width:50vw;
}
#spelrum label{
    display:inline-block;
    width:100px;
}
#ackordImg{
    overflow: hidden; 
    cursor: pointer; 
    transition: transform 0.5s ease; 
}
#ackordImg.expanded {
    transform: scale(2); 
}

/*Spelrum*/
/*Formulär*/

#formSong form label,input{
    display:block;
}
#formSong form label{
    margin-bottom:2vh;
}
#formSong form label>input{
margin:0 auto 0 auto;
}
#formSong form input[type='submit']{
margin:0 auto 0 auto;
}

/*Formulär*/
/*DESKTOP*/

@media only screen and (min-width:600px){
h1{
    font-size:50px;
}
#closedMenu{
    background:#64b5f6;
    height:auto;
    padding:15px;
}
#closedMenu ul{
    display:block;
    margin-left:auto;
    padding-right:5vw;
    font-size:30px;
}
#closedMenu>ul>li{
    padding-left:4vw;
}
#closedMenu button{
    margin:0;
}
#index{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:2fr 1fr 1fr;
    grid-template-areas:
    "aktuellt aktuellt aktuellt"
    "alla hitta spelrum"
    "lektioner lektioner lektioner"
    ;
    grid-row-gap:10vh;
}
#index .hittaDinNastaLat{
    grid-area:hitta;
    width:80%;
    height:100%
}
#index .allaLatar{
    grid-area:alla;
    width:85%;
    height:90%;
}   
#index .allaLatar img{
    width:100%;
}   
#index .spelrum{
    grid-area:spelrum;
    width:85%;
    height:90%
}
#index .spelrum img{
    width:100%
}
#index .aktuellt {
    grid-area:aktuellt;
    justify-content:center;
    width:50vw;
    height:100%;
}
#index >.aktuellt >a>#aktuellt1{
    width:100%;
    background-image:url(../IMG/getLuckyImg.jpeg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
#index .lektioner{
    grid-area:lektioner;
    width:70%;
    height:60%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:right;
}
#index .lektioner >#flexContainer{
    flex-direction:row;
    width:100%;
    gap:2vw;
}
#index .lektioner > h2{
    padding:0;
    padding-right:80%;
}
#index .lektioner > #flexContainer > button{
    width:50%;
}
/*index*/
/*hittaDinNastaLat*/

#hittaDinNastaLat >#test{
    width:50%;
    left:50%;
    transform:translate(-50%,0);
    display:none;
}
#hittaDinNastaLat #songContainer,#songContainer2,#songContainer3,#nivåTable{
   display:flex;
   flex-direction:row;
   gap:5vw;
}
#hittaDinNastaLat div a{
    width:28vw;
}
#hittaDinNastaLat table{
    font-size:2.5vw;
}
#hittaDinNastaLat table tr:nth-child(odd){
    background:red;
}
#hittaDinNastaLat >.wideClass{
    display:block;
    background:grey;
    width:auto;
    padding:5px;
    margin-bottom:0;
    margin-top:10vh;
}

/*HittaDInNAstaLAt*/
/*Lektioenr*/

#lektioner ul li{
    display: inline-block;
    width:25vw;
}
#lektioner >ul >li >button >img{
    display:block;
    max-height:100%;
    margin-left:35%;
    pointer-events: none;
}
#lektioner >ul >li >button >p{
    display:none;
}

/*Lektioner*/
/*Spelrum*/

#spelrum section:first-of-type>img{
    max-width:30vw;
}
#spelrum section:first-of-type div button:first-child{
    margin-right:auto;
}
#spelrum section:first-of-type div button img{
    max-width:5vw;
}
#spelrum section:first-of-type div p{
    margin-right:auto;
    font-size:3vw;
}
#spelrum section:first-of-type div{
    max-width:35vw;
}
#spelrum{
    display:flex;
    flex-direction:row;
    gap:5vw;
}
#spelrum section:nth-of-type(2) img{
    max-width:30vw;
}
#spelrum section:nth-of-type(2){
    margin:0 auto 0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/*Spelrum*/
/*Latsida*/

#latSida{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "media info"
    "ackord ackord";
}
#latSida section{
    max-height:50vh;
}
#latSida> #info{
    grid-area:info;
}
#latSida> #media{
    grid-area:media;
}
#latSida>#ackordLatSida{
    grid-area:ackord;
    display:flex;
    flex-direction:column;
}
#latSida>#ackordLatSida button{
    width:20vw;
}

/*LATSIDA*/
/*allalåtar*/

#allaLatar ol{
    column-count:2;
    column-width:auto;
    column-gap:5vw;
}
#allaLatar ol li{
    height:30vh;
    break-inside: avoid-column
}
#allaLatar ol li a{
    height:100%;
    grid-template-columns:2fr 1fr !important; 
}
#allaLatar ol li a img{
    max-width:90%;
    margin-left:15px;
}
#allaLatar p,h3{
    font-size:2vw;
}}